.container {
  margin-right: auto;
  margin-left: auto;
  width:962px;
  
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 0;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: default;

  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 10px;
}

.carousel-inner {
/*   position: inherit; */
  width: 86%;
  /* overflow: hidden; */
  padding-left:9px;
  z-index:0px;
}
