/*Fonts*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue/HelveticaNeue.eot?') format('eot'),
        url('/fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
        url('/fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'),
        url('/fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue Medium';
    src: url('/fonts/HelveticaNeueMedium/helvetica-neue-medium-1361522099-webfont.eot');
    src: url('/fonts/HelveticaNeueMedium/helvetica-neue-medium-1361522099-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueMedium/helvetica-neue-medium-1361522099-webfont.woff') format('woff'),
        url('/fonts/HelveticaNeueMedium/helvetica-neue-medium-1361522099-webfont.ttf') format('truetype'),
        url('/fonts/HelveticaNeueMedium/helvetica-neue-medium-1361522099-webfont.svg#helveticaneuemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue Regular';
    src: url('/fonts/HelveticaNeueRegular/helvetica-neue-regular-1361522098-webfont.eot');
    src: url('/fonts/HelveticaNeueRegular/helvetica-neue-regular-1361522098-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueRegular/helvetica-neue-regular-1361522098-webfont.woff') format('woff'),
        url('/fonts/HelveticaNeueRegular/helvetica-neue-regular-1361522098-webfont.ttf') format('truetype'),
        url('/fonts/HelveticaNeueRegular/helvetica-neue-regular-1361522098-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue Light';
    src: url('/fonts/HelveticaNeueLight/helveticaneuelight.eot');
    src: url('/fonts/HelveticaNeueLight/helveticaneuelight.eot') format('embedded-opentype'),
        url('/fonts/HelveticaNeueLight/helveticaneuelight.woff') format('woff'),
        url('/fonts/HelveticaNeueLight/helveticaneuelight.ttf') format('truetype'),
        url('/fonts/HelveticaNeueLight/helveticaneuelight.svg#HelveticaNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chunkfive';
    src: url('/fonts/Chunkfive/chunkfive-webfont.eot');
    src: url('/fonts/Chunkfive/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Chunkfive/chunkfive-webfont.woff') format('woff'),
        url('/fonts/Chunkfive/chunkfive-webfont.ttf') format('truetype'),
        url('/fonts/Chunkfive/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Header*/

.clearfix:after{
 content: "";
 clear: both;
 display: table;
}

.main{
    left: -467px;
    margin-left: 50%;
    position: absolute;
    width: 942px 
}

.main-home{
    left: -500px;
    margin-left: 50%;
    position: relative;
    width: 948px;
	margin-top: 214px;
}

.gridzilla{
	font-family:'Chunkfive'; 
	font-size:36px; 
	color:black; 
	text-decoration:none; 
	margin-top:-10px;
}

.gridzilla:hover{
	color: black;
}

.gridzilla-point{
	color:red; 
	font-size:46px; 
	text-decoration:none;
}

#mainMenuHeight{
	height:30px;
}

.body_bgr{
	background: rgb(251,251,251);
}

.logo{
	display:block; 
	float: left;
	margin-top:10px; 
}

.search{
	float:right;
	margin-top:25px;
	width:200px;
	height:35px;
	border-radius: 1px;
	position:relative;
	border: 1px solid #cecece;
}

#iconSearch{
    margin-left: 744px;
    position: absolute;
    margin-top: 32px;
}

.btn_search{
	margin-top:30px;
}

.nav-menu{
	margin-top:60px;
	color: black;
	border-top: 1px solid #DADADA ;
    padding-top: 21px;
	font: bold;

}

.nav-menu a span{
			border-right: 1px solid #DADADA;
			display: inline-block;
			padding-right: 20px;
			margin-left: 20px;
		}
		
.menu-color{
		color: black;
}

.nav-menu  a.selected{
	color:red;
	width: 94px;
	text-decoration: none;
	border-top: 1px solid red;
	width: 25px;
	color: red;
	margin-top:118px;
    padding-top: 23px;
}

div > nav > a:hover{
	text-decoration: none;
	border-top: 1px solid red;
	width: 25px;
	color: red;
}
.head-top{
	margin-top:40px;
	}

#more-top{
	text-decoration:none; 
	color: white;
}

/*Content*/

#mainTop{
	margin-top:130px;
}

#left{
	margin-left: -25px;
}

.prev{
	margin-left: -980px; 
	margin-top: -64px;
}

.next{
	margin-left: -79px; 
	position: absolute;  
	margin-top:-79px;
}

.sub-menu{
	margin-top: 43px;
}

.sub-menu  a.selected{
	color:red;
}

.blog-top{
	margin-top:5px;
}

.sec-one{
	width: 222px; 
	height: 423px; 
	float:left; 
	margin-top:26px;
}

.sec-one > div
{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.article-art{
	font-family: HelveticaNeue; 
	font-weight: bold; 
	font-size: 19px; 
	margin-left:15px; 
	margin-top: 5px;
}
.small-date{
	margin-top: -13px; 
	margin-left: 5px;
}

.txt-pos{
	font-family: HelveticaNeue; 
	margin-left:15px; 
	margin-right: 7px; 
	font-size: 13px;
}

.sec-two{
	width: 222px; 
	height: 423px; 
	float:left; 
	margin-left: 18px; 
	margin-top:26px;
}

.sec-two > div {
	border-right: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px;
	position:absolute;
}

.sec-three{
	width: 222px; 
	height: 423px; 
	float:left; 
	margin-left: 18px; 
	margin-top:26px;
}

.sec-three > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-four{
	width: 222px; 
	height: 423px; 
	float:left; 
	margin-left: 18px; 
	margin-top:26px;
}

.sec-four > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-five{
	width: 222px; 
	height: 423px; 
	float:left; 
	margin-top: 18px;
}

.sec-five > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-six{
	width: 222px; 
	height: 423px; 
	float:left; 
	margin-top: 87px; 
	margin-left:18px;
}

.sec-six > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-seven{
	width: 222px; 
	height: 423px; 
	float:left;
	margin-top: -18px; 
	margin-left:18px;
}

.sec-seven > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-eight{
	width: 222px; 
	height: 423px; 
	float:left; 
	margin-top: 18px; 
	margin-left:18px;
}

.sec-eight > div {
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}


.sec-nine{
	width: 222px; 
	height: 423px;
}

.sec-nine > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-ten{
	width: 222px; 
	height: 423px; 
	float: left; 
	margin-left: -221px; 
	margin-top: 25px;
}

.sec-ten > div {
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-eleven{
	width: 222px; 
	height: 423px; 
	float: left; 
	margin-left: 18px; 
	margin-top: -14px;
}

.sec-eleven > div {
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}


.sec-twelve{
	width: 222px; 
	height: 423px; 
	float: right; 
	margin-left: 18px; 
	margin-top: -387px;
}

.sec-twelve > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 200px; 
	position:absolute;
}

.sec-button{
	margin-top:20px;
}

.mar-foot{
	margin-top:180px;
}

.pos-blog-item{
	position: relative; 
	margin-top:203px;
}

.pos-blog-item-mar{
	margin-top: 50px;
}

.blog-item-right{
	margin-left: 572px; 
	margin-top: -405px;
}

.red{
	color: red
}

.span-tags-p2{
	color: red; 
	margin-left:120px;
}

.span-author-p2{
	color: red; 
	margin-left:260px;
	}
	
.left{
	padding-left: 25px;
}

.left2{
	padding-left: 45px;
}

.web-site{
	color: black; 
	text-decoration: none;
	margin-left:7px;
}

.top{
margin-top: 100px;
}

.pos-top{
	margin-top:15px;
}

.sec-blog-itm1{
	width: 222px; 
	height: 228px; 
	float:left; 
	margin-top: 50px;
}

.sec-blog-itm1  > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 60px; 
	position:absolute;
}

.sec-blog-itm-p1{
	font-family: HelveticaNeue; 
	font-weight: bold; 
	font-size: 19px; 
	margin-left:15px; 
	margin-top: 5px;
}

.sec-blog-itm-p2{
	margin-top: -13px; 
	margin-left: 5px;
}

.sec-blog-itm2{
	width: 222px; 
	height: 228px; 
	float:left; 
	margin-top: 50px; 
	margin-left:18px;
}

.sec-blog-itm2 > div{
	border-right: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 60px; 
	position:absolute;
}

#sec-blog-itm2-p1{
	font-family: HelveticaNeue; 
	font-weight: bold; 
	font-size: 19px; 
	margin-left:15px; 
	margin-top: 5px;
}

#sec-blog-itm2-p2{
	margin-top: -13px; 
	margin-left: 5px;
}

.sec-blog-itm3{
	width: 222px; 
	height: 228px; 
	float:left; 
	margin-top: 50px; 
	margin-left:18px;
}

.sec-blog-itm3 > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 60px; 
	position:absolute;
}

.sec-blog-itm4{
	width: 222px; 
	height: 228px; 
	float:left; 
	margin-top: 50px; 
	margin-left:18px;
}

.sec-blog-itm4 > div{
	border-right: 1px solid #dbdbdb; 
	border-left: 1px solid #dbdbdb; 
	border-bottom: 1px solid #dbdbdb; 
	width: 220px; 
	height: 60px; 
	position:absolute;
}

#about-p1{
	margin-top: -210px; 
	margin-left: 240px;
}

#about-p2{
	margin-left: 240px;
}

#label{
	font-size:36px; 
	color: #e60000; 
	font-family: HelveticaNeue Light;
}

#label-p1{
	margin-top: -48px;  
	margin-left: 29px;
}

#label2{
	font-size: 36px; 
	color: red;
}

#about-top > div {
	position: relative;
}

.about-div-p1{
	float:left; 
	position: absolute; 
	width:435px; 
	height: 51px;
}

.about-div-p2{
	float:right; 
	position: absolute; 
	width:435px; 
	height: 51px; 
	margin-left: 525px;
}

.about-art{
	position: relative; 
	margin-top: 60px;
}

.about2-div-p1{
	float:left;
	position: absolute; 
	width:300px; 
	height: 70px; 
	margin-top: 77px;
}

.about2-div-p2{
	float:right; 
	position: absolute; 
	width:300px; 
	height: 70px; 
	margin-left: 325px; 
	margin-top: 77px;
}

.about2-div-p3{
	float:right; 
	position: absolute; 
	width:300px; 
	height: 70px; 
	margin-left: 650px; 
	margin-top: 77px; 
	line-height: 23px;
}

.art-about{
	margin-top: 240px; 
	position: relative;
}

.float-left{
		float:left;
}

.about-btn1{
	width: 100px; 
	height:35px; 
	background-color: rgb(143, 174, 48); 
	border: none; 
	border-radius: 2px; 
	color: white; 
	text-shadow: 1px 1px #6E6E6E; 
	background: linear-gradient(rgb(143, 174, 48), rgb(152, 183, 52));
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 14px;
}

.about-div {
	position: relative; 
	float:left; 
	margin-left: 20px;
}

.about-btn2{
	width: 100px; 
	height:35px; 
	background-color: rgb(213, 213, 213); 
	border: none; 
	border-radius: 2px; 
	color: white; 
	text-shadow: 1px 1px #6E6E6E; 
	background: linear-gradient(rgb(213, 213, 213), rgb(204, 204, 204));
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 14px;
}

.about-btn3{
	width: 100px; 
	height:35px; 
	background-color: rgb(106, 160, 235); 
	border: none; 
	border-radius: 2px; 
	color: white; 
	text-shadow: 1px 1px #6E6E6E; 
	background: linear-gradient(rgb(106, 160, 235), rgb(115, 170, 248));
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 14px;
}

.about-btn4{
	width: 100px; 
	height:35px; 
	background-color: rgb(233, 102, 58); 
	border: none; 
	border-radius: 2px; 
	color: white; 
	text-shadow: 1px 1px #6E6E6E; 
	background: linear-gradient(rgb(233, 102, 58), rgb(247, 127, 71));
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 14px;
}


.about-btn5{
	width: 100px;
	height:35px; 
	background-color: rgb(219, 92, 220); 
	border: none; 
	border-radius: 2px; 
	color: white; 
	text-shadow: 1px 1px #6E6E6E; 
	background: linear-gradient(rgb(219, 92, 220), rgb(242, 113, 240));
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 14px;
}

.about-btn6{
	width: 100px; 
	height:35px; 
	background-color: rgb(229, 81, 81); 
	border: none; 
	border-radius: 2px; 
	color: white; 
	text-shadow: 1px 1px #6E6E6E; 
	background: linear-gradient(rgb(229, 81, 81), rgb(250, 88, 88));
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 14px;
}


.about-btn7{
	width: 100px; 
	height:35px; 
	background-color: rgb(102, 221, 230); 
	border: none; 
	border-radius: 2px; 
	color: white; 
	text-shadow: 1px 1px #6E6E6E; 
	background: linear-gradient(rgb(102, 221, 230), rgb(103, 226, 233));
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 14px;
}

.alert-div{
	margin-top: 320px; 
	position: relative;
}

.alert-box1{
	width:938px; 
	height: 62px; 
	background-color:rgb(239, 254, 185); 
	border: 1px solid rgb(152, 198, 1);
}

.alert-box1-txt{
	color: rgb(152, 198, 1); 
	margin-top:20px;
}

.alert-box2 {
 	width:938px; 
	height: 62px; 
	background-color:rgb(251, 203, 193); 
	border: 1px solid rgb(235, 84, 57); 
	margin-top: 40px;
}

.alert-box2-txt{
	color: rgb(234, 84, 59); 
	margin-top:20px;
}

.alert-box3{
	width:938px; 
	height: 62px; 
	background-color:rgb(255, 233, 173); 
	border: 1px solid rgb(253, 180, 26); 
	margin-top: 20px;
}

.alert-box3-txt{
	color: rgb(253, 180, 26); 
	margin-top:20px;
}

.alert-box4{
	width:938px; 
	height: 62px; 
	background-color:rgb(209, 228, 243); 
	border: 1px solid rgb(75, 143, 206); 
	margin-top: 20px;
}

.alert-box4-txt{
	color: rgb(75, 143, 206); 
	margin-top:20px;
}

.cont-div{
	margin-top: 180px;
}

.cont-top{
	margin-top: 50px;
}

.contP{
	margin-top: -15px;
}
.form-div{
	height: 400px; 
	width: 941px; 
	margin-top: 32px; 
	margin-right: 400px;
}

.form1{
	margin-top: 35px; 
	width: 217px; 
	height: 36px; 
	background: rgb(250, 250, 250); 
	border: 1px solid #DADADA; 
	padding-left: 15px;
}

.form2{
	margin-top: 7px; 
	width: 217px; 
	height: 36px; 
	background: rgb(250, 250, 250); 
	border: 1px solid #DADADA; 
	padding-left: 15px;
} 

.form3{
	margin-top: 7px; 
	width: 495px; 
	height: 205px; 
	background: rgb(250, 250, 250); 
	border: 1px solid #DADADA; 
	padding-left: 15px; 
	padding-bottom: 170px; 
	color: #c6c6c6;
}

#blog-top2
{
	margin-right: 2px; margin-top:5px;
}

#p1{
	color: white; 
	font-family: Chunkfive; 
	font-size:24px;
	margin-left: 30px; 
	z-index: 2px;
	margin-top:20px;
}

#p2{
	color: white; 
	font-family: HelveticaNeue; 
	font-size:13px; 
	margin-left: 30px; 
	z-index: 2px; 
	margin-top: 0px;
}

#more-mar{
	margin-left: 30px;
} 

.blog-1-pos{
	margin-left: 15px;
}

.more-white{
	color: white; 
	margin-left:5px; 
	text-decoration:none; 
	font-family: HelveticaNeue;
	text-decoration: none;
}

.more-black
{
	margin-left:5px;
	color: black;
	text-decoration:none;
	font-family: HelveticaNeue
}

.art{
	text-align: center; 
	font-family: 'Chunkfive'; 
	font-size: 30px;
	margin-top:52px;
	color: black;
}

text{
	font-family: HelveticaNeue;
	font-size: 13px;
}

.btn-footer{
	width:27px;
	height:27px;
	float:left;
	border-radius:4px;
	margin-left: 5px; 
 	margin-top:79px; 
	border: none;
	background: linear-gradient(#fcfbfb, #d4d4d4);
	box-shadow: 1px 1px 3px #888888;
}

.btn-footer2
{
	width:26px;
	height:26px;
	float:left;
	border-radius:4px;
	margin-left: 5px; 
 	margin-top:79px; 
	border: none;
	box-shadow: inset 1px 1px  3px rgba(0,0,0,0.7);
	background: linear-gradient(#e2e2e2, #dbd8d8);
}

.btn-footer:hover{
	background: linear-gradient(#dbd8d8, #e2e2e2);
}

.border-footer{
		border-top:1px solid #DADADA;
		margin-top:50px;
		padding-bottom:21px;
}

.border-possition{
	left: -500px;
    margin-left: 232px;
    position: absolute;
	width: 948px;
	margin-top:1050px;
	}

.div-one{
	height: 75px;
	width:945px;
	margin-top:5px; 
}

.slide-1{
	float:left;
 	margin-left:5px;
}

.footer_position{
    left: -467px;
    margin-left: 50%;
    position: relative;
    width: 942px;
    margin-top: 50px; 
	display:block;
}

.footer_icons
{
	margin-top:25px;		
	float:left;
	height:33px;
	width:35px;
}

.slide-7{
	float:left;
    margin-top: 5px;
    margin-left: 5px;
}

.shadow{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mor{
	text-decoration:none; 
	color: black;
}

.myButtonLink {
	display: block;
	width: 100px;
	height: 100px;
	background: url('../img/transparent1.png') bottom;
	text-indent: -99999px;
}
.myButtonLink:hover {
	background-position: 0 0;
}

.font-blog{
	font-family: HelveticaNeue;
	font-size: 14px;
	color: rgb(70, 70, 70);
	margin-top:30px;
}

#aboutTop{
	margin-top: -27px;
}

#foot-p1{
	font-family: HelveticaNeue 12px; 
	float:right; 
}

#foot-p2{
	margin-left: 50px; 
	float:right;
	margin-top: -16px;
}

#footColor{
	color: #4a4d50;
} 

/*Blog Page*/

h1{
	font-family: HelveticaNeue Light;
	text-align: center;
}

.main-blog
{
	margin-top: 175px;
}

.menu-blog{
	margin-top: 250px;
	margin-left:480px;
}

.menu-color-blog{
	color: black;
	text-decoration: none;
}

nav > a:hover{
    color: red;
	text-decoration: none;
	padding-top:23px;
}

.blog-img{
	margin-top:26px;
	float:left;
	margin-left:16px;
}

.blog-content{
	border:1px solid #d3d3d3;
	width:220px;
	height:230px;	
	background:#FFFFFF;
	float:left;
	position: absolute;
}

small{
	margin-left:10px;
	color: 	#979797;
	margin-bottom:10px;
}

.more-btn{
	margin-left:10px;
	margin-top:20px;
}

.floating-box {
    float: left;
    width: 295px;
    height: 195px;
    margin: 10px;
	filter: alpha(opacity=90);
	opacity: 0.9; 
	background-color: #232a27;
	z-index:1px;
	margin-top:-350px;
	margin-left: 319px;
}

.submit{
	color: black; 
	margin-left: 5px;
}
.submit:hover{
	color: black;
}

/* Blog item*/

h1{
position: relative; 
margin-top:185px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}